[Dd]ebug/
[Rr]elease/
build/
!packages/**/[Bb]uild
[Bb]in/
[Oo]bj/
*.suo
*.sln.cache
*.user
TestResults/
*.tmp
*.orig
*[Rr]e[Ss]harper.user
_ReSharper.*/
*StyleCop.Cache
.DS_Store
Thumbs.db
__MACOSX/
.sass-cache/
/[Bb]in 
.[Bb]in/ 
App_Browsers/
*/App_Data/cache/
*/App_Data/Logs/
*/App_Data/courier/
*/App_Data/preview/
*/App_Data/TEMP/
*/App_Data/NuGetBackup/
*/App_Data/umbraco.config
*/App_Data/umbraco.licensing.log.txt
*/masterpages/
[Cc]ached/
ClientDependency/
ExamineIndexes/
*/[Mm]edia/
uSync.Archive/
.vs/
Settings/